# Import necessary python libraries and packages for Llama3 AI and Meta AI operations

In [1]:
from dotenv import load_dotenv
x=load_dotenv()

In [2]:
import lamini

In [11]:
llm = lamini.Lamini(model_name="meta-llama/Meta-Llama-3-8B-Instruct")

In [18]:
response = """\
Explain the history of Vanguard , Blackrock and the State Street
"""

In [20]:
result = llm.generate(response, max_new_tokens=200)
print(result)

Vanguard, BlackRock, and State Street are three of the largest investment management companies in the world. Here's a brief history of each company:

Vanguard:

* Founded in 1975 by John C. Bogle, Vanguard is a mutual fund company that is known for its low-cost index funds.
* Bogle, a pioneer in the investment industry, believed that investors should be able to invest in the stock market at a low cost, without the need for expensive investment managers.
* Vanguard's first fund, the Vanguard 500 Index Fund, was launched in 1976 and tracked the S&P 500 index.
* Today, Vanguard is one of the largest investment management companies in the world, with over $7 trillion in assets under management.

BlackRock:

* Founded in 1988 by Larry Fink, BlackRock is a global investment management company that is known for its alternative investment strategies.
* Fink, a former investment banker, saw an opportunity to create a company that

In [21]:
response2 = ( 
    "<|begin_of_text|>"  # Start of prompt
    "<|start_header_id|>system<|end_header_id|>\n\n"  #  header - system
    "You are a helpful assistant."  # system prompt
    "<|eot_id|>" # end of turn
    "<|start_header_id|>user<|end_header_id|>\n\n" # header - user
    "Why is Github so necessary" 
    "<|eot_id|>" # end of turn
    "<|start_header_id|>assistant<|end_header_id|>\n\n" # header - assistant
    )
print(response2)

<|begin_of_text|><|start_header_id|>system<|end_header_id|>

You are a helpful assistant.<|eot_id|><|start_header_id|>user<|end_header_id|>

Why is Github so necessary<|eot_id|><|start_header_id|>assistant<|end_header_id|>

In [22]:
response == response2

False

In [23]:
def make_llama_3_prompt(user, system=""):
    # Add system prompt if provided
    system_prompt = f"<|start_header_id|>system<|end_header_id|>\n\n{system}<|eot_id|>" if system else ""
    
    # Create user prompt
    prompt = (f"<|begin_of_text|>{system_prompt}"
              f"<|start_header_id|>user<|end_header_id|>\n\n"
              f"{user}"
              f"<|eot_id|>"
              f"<|start_header_id|>assistant<|end_header_id|>\n\n")
    
    return prompt

In [27]:
system_prompt = user_prompt = "You are a helpful assistant."
user_prompt = "Explain about Blackrock, Vanguard and State Street."
promptx = make_llama_3_prompt(user_prompt, system_prompt)
print(promptx)

<|begin_of_text|><|start_header_id|>system<|end_header_id|>

You are a helpful assistant.<|eot_id|><|start_header_id|>user<|end_header_id|>

Explain about Blackrock, Vanguard and State Street.<|eot_id|><|start_header_id|>assistant<|end_header_id|>

In [28]:
prompt == promptx

False

In [29]:
user_prompt = "Tell me a joke about Elon Musk"
prompty = make_llama_3_prompt(user_prompt)
print(prompty)

<|begin_of_text|><|start_header_id|>user<|end_header_id|>

Tell me a joke about Elon Musk<|eot_id|><|start_header_id|>assistant<|end_header_id|>

In [30]:
answer = llm.generate(prompt, max_new_tokens=200)
print(answer)

Vanguard, BlackRock, and State Street are three of the largest investment management companies in the world. Here's a brief history of each company:

Vanguard:

* Founded in 1975 by John C. Bogle, Vanguard is a mutual fund company that is known for its low-cost index funds.
* Bogle, a pioneer in the investment industry, believed that investors should be able to invest in the stock market at a low cost, without the need for expensive investment managers.
* Vanguard's first fund, the Vanguard 500 Index Fund, was launched in 1976 and tracked the S&P 500 index.
* Today, Vanguard is one of the largest investment management companies in the world, with over $7 trillion in assets under management.

BlackRock:

* Founded in 1988 by Larry Fink, BlackRock is a global investment management company that is known for its alternative investment strategies.
* Fink, a former investment banker, saw an opportunity to create a company that

#### Try some prompts of your own!

In [32]:
promptz="When will earth run out of oxygen. Please mention the nearest possible year in the Gregorian Calendar."
answer=llm.generate(promptz,max_tokens=200)
print(answer)

 The answer is based on the current rate of oxygen production and consumption.
Oxygen is produced by photosynthesis, a process in which plants, algae, and some bacteria convert sunlight, water, and carbon dioxide into glucose and oxygen. The rate of oxygen production is influenced by factors such as the amount of sunlight, water, and nutrients available, as well as the health and diversity of the plant and algae populations.

On the other hand, oxygen is consumed by various processes, including:

1. Respiration: Oxygen is used by animals, including humans, to convert glucose into energy.
2. Combustion: Oxygen is used in combustion reactions, such as in the burning of fossil fuels.
3. Decomposition: Oxygen is used in the decomposition of organic matter, such as in the breakdown of dead plants and animals.

The rate of oxygen consumption is influenced by factors such as population growth, energy

## Just depends on the type of prompt the user inputs to the feed of the model.

In [34]:
question = (
    "Given an arbitrary table named `sql_table`, "
    "write a query to return how many rows are in the table." 
    )
prompt = make_llama_3_prompt(question)
print(llm.generate(prompt, max_new_tokens=200))

The query to return the number of rows in a table named `sql_table` is:

```sql
SELECT COUNT(*)
FROM sql_table;
```

This query uses the `COUNT(*)` function to count the number of rows in the table. The `*` is a wildcard that means "all columns", but in this case, we don't need to specify any specific columns because we're only interested in counting the number of rows.

In [37]:
promptz = """Given an arbitrary table named `student_table`, 
help me calculate the average `height` where `age` is above 17, marks is between 75 and 100, date of birth is displayed."""
promptz1 = llm.generate(promptz,max_tokens=300)
print(promptz1)

Here is the SQL query:

```sql
SELECT AVG(height)
FROM student_table
WHERE age > 17
  AND marks BETWEEN 75 AND 100
  AND date_of_birth IS NOT NULL;
```

This query calculates the average `height` for students who are above 17 years old, have marks between 75 and 100, and have a valid date of birth.

The `BETWEEN` operator is used to specify a range of values for `marks`, and the `IS NOT NULL` operator is used to ensure that `date_of_birth` is not null.

The `AVG` function is used to calculate the average `height`.

This query assumes that the `height` column is numeric and can be averaged. If the `height` column is not numeric, you may need to use a different aggregation function, such as `MAX` or `MIN`, depending on the type of data in the column.

Also, this query assumes that the `age` column is numeric and can be compared using the `>` operator. If the `age` column is not numeric, you may need to use a different comparison operator, such as `>=` or `<=`, depending on the type of data in the column

In [ ]:
#BELOW EXAMPLE IS TO REPRESENT THE HALLUCINATIONS CAUSED DUE TO THE QUESTION ASKED TO MODEL

In [40]:
question = """Generate a sql table named Om Subrato Dey and so the SQL statements for the following conditions:
Display the name,marks,blood group,age,DOB etc.. """
promptc=llm.generate(question,max_tokens=100)
print(promptc)

 of all students in the table.
Display the name,marks,blood group,age,DOB etc..  of all students in the table where the age is greater than 18.
Display the name,marks,blood group,age,DOB etc..  of all students in the table where the blood group is

In [ ]:
#UNBALE TO ANSWER ABOVE PROMPT CORRECTLY THEREFORE WE WILL RECTIFY THE ISSUE IN THE NEXT NOTEBOOK BY CREATING A SUITABLE
# SQLAGENT.